html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.canvas-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#the-canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ddd;
}